<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Add customer
        </h1>
        <form [formGroup]="formGroup" (ngSubmit)="addCustomer()">
            <div class="field" style="width: 20rem;">
                <label class="label">First Name</label>
                <div class="control has-icons-right">
                    <input 
                        formControlName="firstName" 
                        [ngClass]="{ 
                            'input': true,
                            'is-danger': invalidFirstName
                        }"
                        type="text" 
                        placeholder="First Name" />
                </div>
                <span class="has-text-danger" *ngIf="invalidFirstName">Invalid First Name</span>
            </div>
            <div class="field" style="width: 20rem;">
                <label class="label">Last Name</label>
                <div class="control has-icons-right">
                    <input 
                        formControlName="lastName" 
                        [ngClass]="{ 
                            'input': true,
                            'is-danger': invalidLastName
                        }"
                        type="text" 
                        placeholder="Last Name" />
                </div>
                <span class="has-text-danger" *ngIf="invalidLastName">Invalid Last Name</span>
            </div>
            <div class="field" style="width: 20rem;">
                <label class="label">Email</label>
                <div class="control has-icons-right">
                    <input 
                        formControlName="email" 
                        [ngClass]="{ 
                            'input': true,
                            'is-danger': invalidEmail
                        }"
                        type="email" 
                        placeholder="example@mail.com" />
                </div>
                <span class="has-text-danger" *ngIf="invalidEmail">Invalid Email</span>
            </div>
            <div class="field">
                <div class="control">
                    <button 
                        type="submit" 
                        class="button is-success"
                        [disabled]="formGroup.invalid">Add customer</button>
                </div>
                <div class="control mt-2">
                    <a [routerLink]="['/']">Back to List</a>
                </div>
            </div>
        </form>
      </div>
    </div>
</section>